.times
  .ten
    10時
  .eleven
    11時
  .twelve
    12時
  .thir-teen
    13時
  .four-teen
    14時
  .seven-teen
    17時
  .eigh-teen
    18時
  .nine-teen
    19時
  .twenty-teen
    20時
  .twenty-one
    21時
