= render 'header'
.wapperr
  
  .form-text
    ・売上
  .times
    = render 'times'
  .sale-forms
    = form_with model: @sale, local: true do |f|
      =f.text_field :ten_oclock
      =f.text_field :eleven_oclock
      =f.text_field :twelve_oclock
      =f.text_field :thir_teen_oclock
      =f.text_field :four_teen_oclock
      =f.text_field :seven_teen_oclock
      =f.text_field :eigh_teen_oclock
      =f.text_field :nine_teen_oclock
      =f.text_field :twenty_oclock
      =f.text_field :twenty_one_oclock
      =f.text_field :twenty_two_oclock
      =f.submit '送信する'