.form-text{
  font-size: 30px;
}
.timer{
  margin-top: 100px;
}
.sale-forms{
  position: relative;
  .date{
    position: absolute;
    top:-70px;
  }
  .day{
    position: absolute;
    top:-30px;
  }
  .shop-id{
    position: absolute;
    top:-110px;
  }
  .sale-form{
    width: 79px;
    margin-left: -5px;
  }
  .sale-form-right{
    width:79px;
    margin-left: 200px;
  }
  .submit{
    position: absolute;
    top:100px;
    right: 50px;
  }
} 