.wapperr{
  padding: 50px 100px;
  .input-date-text{
    font-size:20px;
  }
  .input-seler{
    margin: 0px 0px 30px 15px;
    font-size: 20px;
  }
  .input-days{
    display: flex;
  }
  .form-text{
    margin-top: 30px;
    font-size:20px;
  }
  .times{
    margin-top: 50px;
    width: 940px;
    display: flex;
    justify-content:space-between;
  }
  .sale-forms{
    width: 1200px;
    display: flex;
    justify-content:space-between;
    position: relative;
    .time{
      position: absolute;
      top:-110px;
    }
    .shop_id{
      position: absolute;
      top:-70px;

    }
    .sale-form-right{
      width: 50px;
    }
    .sale-form{
      width: 50px;
      margin-left: 22px;
    }
  }
  .customer-form-right{
    width: 50px;
  }
  .customer-form{
    width: 50px;
    margin-left: 51px;
  }
}