.wapperr{
  padding: 50px 100px;
  .texts{
    font-size:20px;
    margin-top: 10px;
    .name-text{
      margin-top: 10px;
    }
    .password-text{
      margin-top: 10px;
    }
    .address-text{
      margin-top: 10px;
    }
    .phonenumber-text{
      margin-top: 40px;
    }
    .manager-text{
      margin-top: 10px;
    }
  }
  .shop-form{
    position: relative;
    .name{
      position: absolute;
      top:-220px;
      left: 150px;
    }
    .password{
      position: absolute;
      top:-180px;
      left: 150px;
    }
    .address{
      position: absolute;
      top:-140px;
      left: 150px;
    }
    .phonenumber{
      position: absolute;
      top:-70px;
      left: 150px;
    }
    .manager{
      position: absolute;
      top:-30px;
      left: 150px;
    }
    .register{
      position: absolute;
      top: 30px;
      left: 300px;
      height: 10px;
      width:100px;
    }
  }
}