.time-list
  .ten-sub
    10時
  .eleven-sub
    11時
  .twelve-sub
    12時
  .thir-teen-sub
    13時
  .four-teen-sub
    14時
  .fif-teen-sub
    15時
  .seven-teen-sub
    17時
  .eigh-teen-sub
    18時
  .nine-teen-sub
    19時
  .twenty-teen-sub
    20時
  .twenty-one-sub
    21時
  .twenty-two-sub
    22時
