= render 'header'
.wapperr
  
  .form-text
    ・売上
  .times
    = render 'times'
  .sale-forms
    = form_with model: @sale, local: true do |f|
      =f.date_field :date,class:'time'
      =f.text_field :shop_id,class:'shop_id'
      =f.radio_button :days,'平日'
      =f.text_field :ten_oclock,class:'sale-form-right'
      =f.text_field :eleven_oclock,class:'sale-form'
      =f.text_field :twelve_oclock,class:'sale-form'
      =f.text_field :thir_teen_oclock,class:'sale-form'
      =f.text_field :four_teen_oclock,class:'sale-form'
      =f.text_field :fif_teen_oclock,class:'sale-form'
      =f.text_field :seven_teen_oclock,class:'sale-form'
      =f.text_field :eigh_teen_oclock,class:'sale-form'
      =f.text_field :nine_teen_oclock,class:'sale-form'
      =f.text_field :twenty_oclock,class:'sale-form'
      =f.text_field :twenty_one_oclock,class:'sale-form'
      =f.text_field :twenty_two_oclock,class:'sale-form'
      =f.submit '送信する'